.welcome {
    margin: 20px;
    padding: 20px;
    background-color: var(--background-paper);
    color: var(--text-primary);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .welcome h2 {
    margin-bottom: 20px;
    text-align: center; 
  }
  
  .welcome h3 {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .welcome p {
    line-height: 1.6;
  }
  
  .welcome ul {
    text-align: left;
    list-style-type: disc; 
    padding-left: 40px; 
    margin: 20px 0; 
  }
  
  .welcome ul li {
    margin-bottom: 10px; 
  }