.comments-title {
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--border-color-light);
  margin-top: 50px;
  margin-bottom: 20px;
}

body.dark-mode .comments-title {
  border-color: var(--border-color-dark);
}

.comment-form {
  margin: 20px;
  padding: 10px;
  border: 1px solid var(--border-color-light);
  border-radius: 8px;
  background-color: var(--background-paper-light);
  display: flex;
  flex-direction: column;
  gap: 16px; 
}

body.dark-mode .comment-form {
  border-color: var(--border-color-dark);
  background-color: var(--background-paper-dark);
}

.comments-section {
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid var(--border-color-light);
  border-radius: 8px;
  background-color: var(--background-paper-light);
}

body.dark-mode .comments-section {
  border-color: var(--border-color-dark);
  background-color: var(--background-paper-dark);
}

.comment-author {
  font-style: italic;
  font-size: 0.8rem;
}

.comment-date {
  font-style: italic;
  font-size: 0.7rem;
}

.error {
  color: red;
  margin-top: 10px;
}

.button {
  color: var(--button-text-light);
  background-color: var(--button-background-light);
}

body.dark-mode .button {
  color: var(--button-text-dark);
  background-color: var(--button-background-dark);
}
