:root {
  --background-default-light: #ffffff;
  --background-paper-light: #f9f9f9;
  --text-primary-light: #000000;
  --border-color-light: #000000;
  --button-background-light: #ffffff;
  --button-text-light: #ffffff;
  --toggle-theme-button-bg: #ffffff;
  --toggle-theme-button-color: #000000;
  --toggle-theme-button-border: #000000;
  --border-color-hover-light: #555555;
  --border-color-active-light: #000000;
  --label-color-focused-light: #000000;

  --background-default-dark: #303030;
  --background-paper-dark: #424242;
  --text-primary-dark: #ffffff;
  --border-color-dark: #ffffff;
  --button-background-dark: #424242;
  --button-text-dark: #ffffff;
  --border-color-hover-dark: #bbbbbb;
  --border-color-active-dark: #ffffff;
  --label-color-focused-dark: #ffffff;

  --hover-color-light: #555;
  --hover-color-dark: #bbb;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'roboto', sans-serif;
  display: flex;
  justify-content: center;
  background-color: var(--background-default-light);
  color: var(--text-primary-light);

  --toggle-theme-button-bg: #000000;
  --toggle-theme-button-color: #ffffff;
  --toggle-theme-button-border: #ffffff;
}

body.light-mode {
  --text-primary: var(--text-primary-light);
  --background-paper: var(--background-paper-light);
  --border-color: var(--border-color-light);
  --border-color-hover: var(--border-color-hover-light);
  --border-color-active: var(--border-color-active-light);
  --label-color-focused: var(--label-color-focused-light);
}

body.dark-mode {
  background-color: var(--background-default-dark);
  color: var(--text-primary-dark);
  --text-primary: var(--text-primary-dark);
  --hover-color: var(--hover-color-dark);
  --text-primary: var(--text-primary-dark);
  --background-paper: var(--background-paper-dark);
  --border-color: var(--border-color-dark);
  --border-color-hover: var(--border-color-hover-dark);
  --border-color-active: var(--border-color-active-dark);
  --label-color-focused: var(--label-color-focused-dark);
}

#root {
  width: 100%;
}

button {
  background-color: var(--button-background-light);
  color: var(--button-text-light);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

body.dark-mode button {
  background-color: var(--button-background-dark);
  color: var(--button-text-dark);
}

.article-card-link {
  color: var(--link-color);
  background-color: var(--link-background);
  padding: 5px 10px;
  border: 1px solid var(--link-color);
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.article-card-link:hover {
  color: var(--link-hover-color);
  background-color: var(--link-text-color);
}

.toggle-theme-button {
  background-color: var(--toggle-theme-button-bg);
  color: var(--toggle-theme-button-color);
  border: 1px solid var(--toggle-theme-button-border);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.comment-toggle {
  color: var(--text-primary);
  cursor: pointer;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.comment-toggle:hover {
  color: var(--hover-color);
}

body.dark-mode .comment-field-form .MuiOutlinedInput-root {
  border-color: transparent;
}

body.dark-mode .comment-field-form .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: lightblue;
}

body.dark-mode .comment-field-form .MuiInputLabel-root {
  color: grey; 
}

body.dark-mode .comment-field-form .MuiInputLabel-root.Mui-focused {
  color: lightskyblue;
}

body.dark-mode .comment-field-form .MuiInputBase-input {
  color: white;
}
